.client_owl-carousel .box{
  height: 350px;
  max-width: 500px;
  min-width: 390px;
}
.owl-carousel{
  display: flex;
}
@media only screen and (max-width: 1250px) {
  .owl-carousel {
    overflow-x: auto;
  }
}
.box-img{
  width: 105px;
}
.client_section{
  height: 500px;
}
.footer_section{
  width: 100vw;
}
.navbar{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(15,15,15,1) 35%, rgba(70,70,70,1) 100%);
  border-radius: 20px;
  opacity: 90%;
}
.footer_links{
  display: flex;
  flex-direction: column;
}
.policies {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}
.policies:hover{
  color: white;
}
.pol-btn{
  text-align: center;
}
.pol-btn > button{
  border-radius: 10px;
  border: none;
  margin: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
}
.item{
  width: 400px;
}
.form_container > textarea{
  max-width: 400px;
  min-width: 200px;
}